@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
    color: white;
}
.card{
    background-color: rgb(46, 44, 44);
}

.header {
    background-color: #1d1f25;
}